# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/config
app/bin

# Ignore IDE profiles 
eclipse
.settings
.project
app/.classpath
app/.project

# Ignore IntelliJ IDEA profiles
.idea
app/app.iml
